h3 {
    position: relative;
    right: 15px;
}

header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: silver;
    background: royalblue;
    padding: 40px;
    margin-bottom: 40px;
}

.icon {
    background: royalblue;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

input {
    border-radius: 6px;
}

.searchHist {
    border-radius: 4px;
    font-weight: bold;
    color: silver;
    height: 45px;
    position: relative;
    right: 40px;
    background: royalblue;
    margin-top: 3px;
    padding: 10px;
    padding-left: 20px;
}

#searchHistory {
    padding: 20px;
}

#cityDisplay {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mainTxt {
    font-size: 22px;
    padding: 10px;
}

.mainElement {
    padding: 30px;
    border: 2px solid rgb(155, 176, 240);
    border-radius: 6px;
}

#uvIndex {
    float: left;
}

#indexHolder {
    position: relative;
    float: left;
    padding: 0px 10px;
    border-radius: 4px;
    top: 10px;
}

.forecastTile {
   margin: 5px;
   margin-top: 20px;
    float: left;
    padding: 20px;
    position: relative;
    background: royalblue;
    width: 18.8%;
    border-radius: 6px;
}

#forecastTiles {
    padding: 0px;
    font-weight: bold;
}
